* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0f172a;
  color: white;
  line-height: 1.6;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  background: rgba(2,6,23,0.9);
  backdrop-filter: blur(10px);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}

.logo { color: #38bdf8; }

.navbar nav a {
  margin-left: 20px;
  color: #e2e8f0;
  text-decoration: none;
}

/* SECTION GAP */
section {
  padding: 80px 20px;
}

/* BIG SECTION CARD */
.section-card {
  max-width: 1100px;
  margin: auto;
  background: #020617;
  padding: 60px;
  border-radius: 25px;
  box-shadow: 0 0 50px rgba(56,189,248,0.15);
  transition: 0.4s;
}

.section-card:hover {
  transform: translateY(-6px);
}

/* HERO */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.hero-card {
  background: linear-gradient(135deg, #020617, #0f172a);
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.hero span { color: #38bdf8; }

.hero-img img {
  max-width: 320px;
  width: 100%;
  border-radius: 50%;
  border: 4px solid #38bdf8;
}

/* TYPING */
.typing {
  height: 28px;
  overflow: hidden;
  margin-top: 10px;
}

.typing span {
  display: block;
  animation: slide 6s infinite;
}

/* BUTTONS */
.hero-buttons {
  margin-top: 30px;
}

.btn {
  padding: 12px 30px;
  background: #38bdf8;
  color: #020617;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  margin-right: 10px;
}

.resume-btn {
  background: transparent;
  border: 2px solid #38bdf8;
  color: #38bdf8;
}

/* SKILLS */
.skill-bars {
  max-width: 650px;
  margin: auto;
}

.skill-title {
  display: flex;
  justify-content: space-between;
}

.bar {
  background: #1e293b;
  height: 10px;
  border-radius: 20px;
  overflow: hidden;
  margin: 8px 0 20px;
}

.progress {
  height: 100%;
  background: linear-gradient(90deg, #38bdf8, #0ea5e9);
}

.html { width: 95%; }
.css { width: 90%; }
.responsive { width: 85%; }
.uiux { width: 80%; }

/* EDU & PROJECT */
.edu-card,
.project-card {
  background: #1e293b;
  padding: 25px;
  margin: 20px auto;
  border-radius: 15px;
  border-left: 4px solid #38bdf8;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.project-img {
  width: 100%;
  border-radius: 15px;
}

#contact .section-card a {
  color: #0ac1f4;
  text-decoration: none;
}


/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  color: #94a3b8;
}

/* ANIMATION */
@keyframes slide {
  0% { transform: translateY(0); }
  33% { transform: translateY(-28px); }
  66% { transform: translateY(-56px); }
  100% { transform: translateY(0); }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-grid,
  .project-grid {
    grid-template-columns: 1fr;
  }

  .section-card {
    padding: 40px 25px;
  }
}
